<!doctype html>
<html>
  <head>
    <p><a href="/">Home</a></p>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <p>Welcome to Tyler's Recipe buddy! You will be able to find nutritional information of different food items</p>
    <p>You can also add your own recipes to the database by logging in!</p>
    <h2>Developer: Tyler Young</h2>
  </body>
</html>