<!doctype html>
<html>
  <head>
    <p><a href="/">Home</a></p>
    <title>Error:</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>No data was found!</h1>
    <p>Press home to return</p>
  </body>
</html>