<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopName%></h1>
    <p><a href="about">About <%=shopName%></a></p>
    <p><a href="search">Search for recipes</a></p>
    <p><a href="addrecipe">Add a new recipe</a></p>
    <p><a href="update">Update recipe details</a></p>
    <p><a href="list">List of recipes</a></p>
    <p><a href="listusers">List users</a></p>
    <!-- <p><a href="delete">Delete a recipe</a></p> -->
    <p><a href="api-list">API list</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="login">Login if you are an already existing member</a></p>
    <p><a href="logout">Log out</a></p>
   
  </body>
</html>
