<!-- List users Page -->
<!doctype html>
<html>
  <head>
    <p><a href="/">Home</a></p>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1><%=shopName%> Shop</h1>
    <h2>List of users: </h2>
    <ul>
      <% availableUsers.forEach(function(user) { %>
        <li><%= user.username %>, <%=user.email%></li>
      <% }) %>
    </ul>
    </body>
</html>
