<!-- Logged in Page -->
<!doctype html>
<html>
  <head>
    <p><a href="/">Home</a></p>
    <title>Logged in to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Registered <%=shopName%></h1>
    <p>Congratulations! you are logged in</p>
  </body>
</html>