<!-- Logout Page -->
<!doctype html>
<html>
  <head>
    <p><a href="/">Home</a></p>
    <title>Logged out <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1><%=shopName%></h1>
    <p>You are now logged out</p>
  </body>
</html>