<!-- Search Page -->
<!doctype html>
<html>
  <head>
    <p><a href="/">Home</a></p>
    <title>Search <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1><%=shopName%> Search</h1>
    <form action="/search-result" method="GET">
      <p>Search for a recipe</p>
      <input id="search-box" type="text" name="keyword" value="Default">
      <input type="submit" value="Search" >
    </form>
  </body>
</html>