<!-- Incorrect user Page -->
<!doctype html>
<html>
  <head>
    <p><a href="/">Home</a></p>
    <title>Wrong Username: <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Incorrect details: <%=shopName%></h1>
    <p>Incorrect username or password</p>
  </body>
</html>